/*
 * Credits for the terminal effects:
 * Scanlines/flicker: 	http://aleclownes.com/2017/02/01/crt-display.html
 */
@font-face {
    font-family: 'Crang';
    src: url('../assets/fonts/Crang.ttf') format('truetype');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('../assets/fonts/PressStart2P.ttf') format('truetype');
}

/*********** VARIABLES *************/
:root {
    --green-color: #5bf870;
    --green-bg: #05321e;
    --orange-color: #FC9F27;
    --red-bg: #2E1C0A;
    --blue-color: #a5a5ff;
    --blue-bg: #4242e7;
    --off: #050505;
    --dark: #111;
    --autotype-steps: 30;
}

/*********** THEMES  *************/
.theme-orange {
    --color: var(--orange-color);
    --bg: var(--red-bg);
}

.theme-green {
    --color: var(--green-color);
    --bg: var(--green-bg);
}

.theme-blue {
    --color: var(--blue-color);
    --bg: var(--blue-bg);
}

/*********** GENERIC STUFF *************/
html {
    font-size: 12px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: var(--bg);
    margin: 0;
    overflow: hidden;
}

a {
    outline: none;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    background-color: transparent;
    color: var(--color);
    font-family: "PressStart2P", monospace;
    height: 50%;
    width: 55%;
    background-color: var(--dark);
    margin-left: 3%;
    font-size: 1em;
    padding: 3%;
}


/*********** PARTS OF THE SCREEN *************/
.terminal::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.terminal {
    font-family: "PressStart2P", monospace;
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
    color: var(--color);
    /* This makes 80 monospace characters fit on the screen */
    font-size: max(1rem,
            2.2vmin);
    /* Scale the font-size relative to the minimum screen dimension */

    background: var(--bg);
    background-image: radial-gradient(ellipse,
            var(--bg) 0%,
            var(--off) 90%);
    animation: on 2s linear;
    transition: all 0.5s;
    overflow: hidden;
}

.termianl::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}


/* Scanline moving top to bottom over the screen */
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.2) 10%,
            rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    animation: scanline 10s linear infinite;
}

/*********** THEME SELECTOR *************/
.theme-selector {
    position: absolute;
    bottom: 25;
    font-size: 1.5em;
}

.theme-selector div {
    cursor: pointer;
}


/*********** TITLE *************/
.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    font-size: 1.5em;
    padding: 1%;
}

.title img {
    width: 20vh;
    margin-bottom: 1%;
}

.title h1 {
    margin: 0;
}

/*********** NAME FORM *************/
.name-form {
    margin-top: 5%;
    display: grid;
    place-items: center;
    height: 20%;
}

.autotype-text {
    text-align: center;
    width: 50vw;
    animation: typing 3s steps(var(--autotype-steps));
    white-space: nowrap;
    overflow: hidden;
}

.arrow {
    width: auto;
    position: relative;
    animation: bounce 1s ease-in-out infinite;

}


/*********** DAYS *************/
.day-container {
    height: 30%;
    display: flex;
    align-items: center;
    padding: 1%;
}

.day-container img {
    width: 3em;
}

/*********** STATS *************/
.stats-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.player-stats-list {
    list-style: none;
    border-color: var(--color);
    border-bottom: 3px solid var(--color);
    border-right: 3px solid var(--color);
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-stats-list li {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    height: 25%;

}

.stats-img {
    width: 1.3em;
    margin-right: 1em;
}

#water-img {
    width: 1.1em;
}