/*
 * Credits for the terminal effects:
 * Scanlines/flicker: 	http://aleclownes.com/2017/02/01/crt-display.html
 */
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/*********** VARIABLES *************/
:root {
    --green-color: #5bf870;
    --green-bg: #05321e;
    --red-color: #c0100a;
    --red-bg: #1b0302;
    --blue-color: #a5a5ff;
    --blue-bg: #4242e7;
    --off: #050505;
    --dark: #111;
}

/*********** THEMES  *************/
.theme-red {
    --color: var(--red-color);
    --bg: var(--red-bg);
}

.theme-green {
    --color: var(--green-color);
    --bg: var(--green-bg);
}

.theme-blue {
    --color: var(--blue-color);
    --bg: var(--blue-bg);
}

/*********** GENERIC STUFF *************/
html {
    font-size: 12px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: var(--bg);
    margin: 0;
    overflow: hidden;
}

a {
    outline: none;
}

/*********** PARTS OF THE SCREEN *************/

.terminal::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.terminal {
    font-family: "VT323", monospace;
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
    color: var(--color);
    text-shadow: 0 0 5px #c8c8c8;
    /* This makes 80 monospace characters fit on the screen */
    font-size: max(1rem,
            2.2vmin);
    /* Scale the font-size relative to the minimum screen dimension */

    background: var(--bg);
    background-image: radial-gradient(ellipse,
            var(--bg) 0%,
            var(--off) 90%);
    animation: on 2s linear;
    transition: all 0.5s;
    overflow: hidden;
}

.termianl::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}


/* Scanline moving top to bottom over the screen */
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.2) 10%,
            rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    animation: scanline 10s linear infinite;
}